.container {
	background-color: rgba(180, 166, 151, 0.9);
}

body {
	font-size: 16px;
	background: url("../images/meatbowl.jpg") no-repeat center fixed;
	background-size: cover;
	width: 100%;
	color: rgb(51, 26, 0);
}

h1 {
	font-family: 'Emilys Candy', cursive;
	font-size: 450%;
	color: rgb(69, 107, 0);
}

button {
	margin: 2%;
	padding-right: 5%;
	padding-left: 5%;
	padding-top: 2%;
	padding-bottom: 2%;
	background-color: rgb(51, 26, 0);
	color: rgb(255, 255, 255);
	border-radius: 10%;
	font-size: 110%;
}

button:hover {
	background-color: rgba(51, 26, 0, 0.7);
}

input[type="radio"],
label,
button:hover {
	cursor: pointer;
}

#time {
	font-size: 200%;
	color: rgb(0, 0, 0);
}

#time span {
	color: rgb(255, 0, 0);
}

ol {
	list-style-position: inside;
	font-size: 180%;
}

input {
	margin: 1%;
}

li {
	margin: 1%;
}

label {
	color: rgb(81, 10, 148);
	font-size: 90%;
}

.resultDiv {
	font-size: 170%;
}

.reset {
	font-size: 80%;
}

@media screen and (max-width: 640px) {
	body {
		font-size: 14px;
	}
	h1,
	form,
	.resultDiv,
	.container {
		padding: 0px;
	}
	.content {
		margin: 0px;
		padding: 0px;
	}
	input,
	label {
		display: block;
	}
	input {
		margin-top: 6%;
	}
	label {
		text-align: left;
	}
}